# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: whole number or floating point number

Strings: immutable, list of characters

Lists: mutable, list of different kind of objects

Tuples: immutable list of objects

Dictionaries: mapping of key:value items

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
(10*10/(1**100) + (0.5*0.5) - 0.0)

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

In [5]:
(float)(2/3)

0.6666666666666666

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [26]:
4 *(6+5)
4 * 6 + 5
4 + 6*5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?

Floating point number

What would you use to find a numberâ€™s square root, as well as its square?

In [28]:
a = 100
square_root_a = a**0.5
print(square_root_a)
square_a = a**2
print(square_a)

10.0
10000

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [6]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])
# Code here

e

Reverse the string 'hello' using indexing:

In [7]:
s ='hello'

# Reverse the string using indexing
print(s[::-1])
# Code here

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [9]:
s ='hello'

# Print out the
print(s[4])
print(s[-1])
# Code here

o
o

## Lists

Build this list [0,0,0] two separate ways.

In [11]:
list = [0,0,0]
list2 = []
list2.append(0)
list2.append(0)
list2.append(0)
print(list)
print(list2)

[0, 0, 0]
[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [12]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
print(l)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [14]:
l = [5,3,4,6,1]
l.sort()
print(l)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [17]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [18]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [20]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [22]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?

No because dictionary is not ordered.

## Tuples

What is the major difference between tuples and lists?

Tuples are immutable list, its elements are unchangable

How do you create a tuple?

Using (object1, object2, ...) syntax

## Sets

What is unique about a set?

Sets have unique elements. That means a set elements are not repeat again in that same set.

Use a set to find the unique values of the list below:

In [29]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set_l = set(l)
print(set_l)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [33]:
# Answer before running cell
2 > 3

False

In [32]:
# Answer before running cell
3 <= 2

False

In [31]:
# Answer before running cell
3 == 2.0

False

In [30]:
# Answer before running cell
3.0 == 3

True

In [34]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [35]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!